@font-face {
  font-family: 'BungeeShade';
  src: url('../fonts/BungeeShade-Regular.ttf');
}
@font-face {
  font-family: 'Creepster';
  src: url('../fonts/Creepster-Regular.ttf');
}
@font-face {
  font-family: 'Ewert';
  src: url('../fonts/Ewert-Regular.ttf');
}
@font-face {
  font-family: 'Monoton';
  src: url('../fonts/Monoton-Regular.ttf');
}
