.center {
  color: red;
}

.home-page {
  .container {
    position: relative;
    width: 50%;
    margin: auto;
  }

  .cat {
    animation: kenburns-top 10s ease-out infinite both;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-repeat: no-repeat;
  }
  .container:hover .overlay {
    opacity: 1;
  }

  .center {
    display: flex;
    justify-content: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: black;
    font-size: 40px;
  }
  .senctence1 {
    font-family: BungeeShade;
  }
  .senctence2 {
    font-family: Creepster;
  }
  .senctence3 {
    font-family: Ewert;
  }
  .senctence4 {
    font-family: Monoton;
  }
  .king {
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 30px;
  }
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}
